<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <handlers>
      <add path="*" name="Nd.Framework.WebAPI.Factory" type="Nd.Framework.WebAPI.HttpHandlerFactory, Nd.Framework.WebAPI" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
    </handlers>
  </system.webServer>
</configuration>